@import "tailwindcss";

h1 {
  font-family: "Host Grotesk", sans-serif;
  color: #282828;
}

h2 {
  font-family: "Host Grotesk", sans-serif;
  font-weight: 500;
  color: #282828;
}

p {
  font-family: "Host Grotesk", sans-serif;
  font-weight: 500;
  color: #757073;
}

span {
  font-family: "Host Grotesk", sans-serif;
  font-weight: 700;
  color: #282828;
}

button {
  font-family: "Host Grotesk", sans-serif;
  font-weight: 700;
  color: white;
}

div {
  font-family: "Host Grotesk", sans-serif;
  font-weight: 400;
  color: #282828;
}

.center-logo-container {
  visibility: hidden; /* Keep it hidden */
  display: flex;
  align-items: center;
  justify-content: center;
}
